/* font-family: 'Raleway', sans-serif; */


.header{
    padding: 63px 0 33px;
}

.my-pic{
    max-width: 205px;
    max-height: 205px;
    border-radius: 50%;
}

.header-row{
    display: flex;
}

.header-text{
    margin-left: 51px;
    margin-top: 56px;
}

.header-text h1{
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 19px;
    line-height: 42px;
}

.who-am-i{
    font-size: 25px;
    margin-bottom: 25px;
}

.header-text a{
    padding-left:35px;
    background-repeat: no-repeat;
    white-space: nowrap;
}

a:hover{
    text-decoration: underline;
}

a:active{
    text-shadow: 0 0 2px rgba( 0, 0, 0, 0.3);
}

.header-text a:not(:last-child){
    margin-right: 55px;
}

.phone-num{
    background: url('../images/phone.png');
    font-weight: 500 !important;
}

.email{
    background-image: url('../images/email.png');
    background-position: 0 4px;
}

.location{
    background-image: url('../images/location.png');
}

/* Main section */

.main-section{
    padding: 37px 0 55px;
}

.profile-block{
    margin-bottom: 26px;
}

.profile{
    background-image: url('../images/user.png');
    padding-bottom: 2px;
    margin-bottom: 24px;
}

.profile-block p{
    font-size: 22px;
}

.experience-block{
    margin-bottom: 90px;
}

.experience{
    background-image: url('../images/exper.png');
    line-height: 45px;
    margin-bottom: 15px;
}

.exp-wrapper{
    display: flex;
}

.exp-wrapper:not(:last-child){
    margin-bottom: 59px;
}

.exp-left{
    width: calc(27% - 20px);
    margin-right: 20px;
}

.exp-right{
    width: 73%;
}

.education-wrapper{
    display: flex;
}

.edu-left{
    width: 50%;
    padding-right: 20px;
}

.edu-right{
    width: 50%;
    padding-left: 20px;
}

.education{
    background-image: url('../images/edu.png');
    margin-bottom: 37px;
}

.edu-text-block:not(:last-child){
    margin-bottom: 37px;
}

.edu-text-block h4{
    margin-bottom: 10px;
}

.edu-text-block p{
    margin-top: 10px;
}

.result{
    font-size: 20px;
}

.skills{
    background-image: url('../images/skill.png');
}

.skill-description{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.scale{
    display: block;
    width: 100%;
    box-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.5);
    height: 6px;
}

.scale-html{
    background-image: linear-gradient(to right, #d66c2b 0%, #d66c2b 100%);
}

.scale-css{
    background-image: linear-gradient(to right, #d66c2b 0%, #d66c2b 80%, #fff 80%, #fff 100%);
}

.scale-js{
    background-image: linear-gradient(to right,#d66c2b 0%, #d66c2b 40%, #fff 40%, #fff 100%);
}

.scale-python{
    background-image: linear-gradient(to right,#d66c2b 0%, #d66c2b 20%, #fff 20%, #fff 100%);
}

.additional-info{
    padding: 70px 0 100px;
}

.additional-info-wrapper{
    display: flex;
    justify-content: space-between;
}

.reference{
    background-image: url('../images/reference.png');
    margin-bottom: 30px;
}

.reference-info a{
    display: block;
    margin-top: 14px;
}

.regular{
    font-weight: 400;
}

.interest{
    background-image: url('../images/interest.png');
    margin-bottom: 19px;
}

.interest-info{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.interest-info span{
    font-weight: 400;
    font-size: 20px;
    display: block;
    width: 50%;
    margin-bottom: 22px;
    padding-left: 20px;
    background-image: url('../images/dop.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.interest-info span::before{
    display: block;
    width: 15px;
    height: 15px;
    background: #d66c2b;
}

.language{
    background-image: url('../images/language.png');
    margin-bottom: 30px;
}

.lang:not(:last-child){
    margin-bottom: 20px;
}

.languages p{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #515151;
    line-height: 28px;
    display: block;
    margin-bottom: 15px;
}

.language-wrapper{
    display: flex;
}

.language-wrapper div{
    width: 13px;
    height: 13px;
    border-radius: 100px;
}

.languages div:not(:last-child){
    margin-right: 20px;
}

.know{
    background: #d66c2b;
}

.dont-know{
    border: 2px solid #d66c2b;
}